.error-card {
  background: white;
  padding: 20px 40px;
  border-radius: 3px;
  width: 70vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
    h1 {
      font-size: 44px;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 30px;
      text-align: center;
      color: $mainorange;
    }
    p {
      color: black;
      align-items: center;
    }
    .btn {
      position: center;
      margin-bottom: 20px;
      width: 100%;
    }
}

.errorcard-regnew {
  height: 75vh;
}

.errorcard-bookingsnew {
  width: 80vh;
  height: 45vh;
}

.errorcard-usersedit {
  margin-top: 60px;
  margin-bottom: 60px;
}

.container-error-edit {
  background-color: $lightorange;
}
