.home-body {
  background-color: #FF5D00;
  text-decoration: none;
  width: 100%;
}

.splash_button {
  display: inline-flex;
  align-items: center;
  padding-top: 36px;
  img {
    margin-right: 14px;
  }
}

.splash_button_link {
  color: white;
  text-decoration: none;
  font-size: 32px;
  &:hover {
    color: white;
  }
}

.login-form {
  margin: 50px;
  // display: inline-grid;
}

.hidden_homepage_button {
	border-radius: 40px;
  border: 1px solid #FF5D00;
  background-color: white;
  color: #FF5D00;
  font-size: 16px;
  padding: 12px 45px;
  margin: 17px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
}

a.social {
  border-radius: 40px;
  text-decoration: none;
  // border-color: #FF5D00;
}

.social-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 50px;
  align-self: center;
}

.social-container a {
	border: 1px solid #DDDDDD;
	// border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
  border-color: #FF5D00;
}


// Miguelsss part:

.white-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0%;
  position: absolute;
  height: 100%;
}

.login-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  position: absolute;
  height: 100%;
  padding-right: 190px;

}

.signup-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  position: absolute;
  height: 100%;
  padding-right: 190px;

}

.enter-host-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  position: absolute;
  height: 100%;
  background-color: #FF5D00;
}

.left-container {
  left: 0;
  position: absolute;
  height: 100%;
  transition: ease 1s;
}

.right-container {
  left: 50%;
  position: absolute;
  height: 100%;
  transition: ease 1s;
  text-align: center;
}


.info-card{
  text-align: center;
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  width: 600px;
  font-size: 18px;
  h1 {
    font-size: 44px;
    margin-bottom: 30px;
    text-align: center;
    color: $mainorange;
  }
}

.home-form-login{
  background: white;
  padding: 10px 20px;
  margin-top: 220px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  width:350px;

  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    position: center;
    margin-bottom: 20px;
    width: 100%;
    white-space: nowrap;
  }
}

.register-form-login{
  background: white;
  padding: 10px 20px;
  margin-top: 165px;
  border-radius: 3px;
  width:350px;
  h1 {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: #FF5D00;
  }
  .btn {
    position: center;
    margin-bottom: 20px;
    width: 100%;
    white-space: nowrap;
  }
}

.register-form-login-bis{
  background: white;
  padding: 10px 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  width:350px;

  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    position: center;
    margin-bottom: 20px;
    width: 100%;
    white-space: nowrap;
  }
}
