.home-body {
  background-color: #FF5D00;
  text-decoration: none;
  width: 100%;
}

.splash_button {
  display: inline-flex;
  align-items: center;
  padding-top: 36px;
  img {
    margin-right: 14px;
  }
}

.splash_button_link {
  color: white;
  text-decoration: none;
  font-size: 32px;
  &:hover {
    color: white;
  }
}

.login-form {
  margin: 50px;
}

.hidden_homepage_button {
	border-radius: 40px;
  border: 1px solid #FF5D00;
  background-color: white;
  color: #FF5D00;
  font-size: 12px;
  padding: 12px 45px;
  margin: 17px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
}

a.social {
  border-radius: 40px;
  text-decoration: none;
}

.social-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 50px;
  align-self: center;
}



.social-container a {
	border: 1px solid #DDDDDD;
	// border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}


// Miguelsss part:

.white-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0%;
  position: absolute;
  height: 100%;
}

.login-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  position: absolute;
  height: 100%;
}

.signup-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  position: absolute;
  height: 100%;
}

.enter-host-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  position: absolute;
  height: 100%;
  background-color: #FF5D00;
}

.left-container {
  left: 0;
  position: absolute;
  height: 100%;
  transition: ease 1s;
}

.right-container {
  left: 50%;
  position: absolute;
  height: 100%;
  transition: ease 1s;
  text-align: center;
}
