<div class="container">
<% if @chatrooms.exist? %>
  <% @chatrooms.each do |chatroom| %>
  <ul>
  <li><%= chatroom.name %></li>
  <li><%= chatroom.booking_id %></li>
  <%= link_to "Show this chat", booking_chatroom_path(Booking.find(chatroom.booking_id), chatroom) %>
  </ul>
  <% end %>
<% end %>
</div>
