
<div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="chatModalLabel" aria-hidden="true">
  <div class="col-md-2 ms-auto">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="chatModalLabel">Previous chats</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <%# Current user is a host %>
        <% if current_user.role == 'host' %>
          <% host_chatrooms = @booking.host.bookings_as_host.map do |booking| %>
          <% booking.chatroom %>
          <% end %>






            <% host_chatrooms.compact.each do |chatroom| %>
              <p><%= link_to "#{current_user.username}", booking_chatroom_path(@booking, chatroom), style: "text-decoration: none; color: black;" %></p>
            <% end %>


          <%# Current user is a refugee %>
          <% else %>
            <% refugee_chatrooms = @booking.refugee.bookings_as_refugee.map do |booking| %>
              <% booking.chatroom %>
            <% end %>

              <% refugee_chatrooms.compact.each do |chatroom| %>
                <p><%= link_to "#{current_user.username}", booking_chatroom_path(@booking, chatroom), style: "text-decoration: none; color: black;"%></p>
              <% end %>


          <% end %>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn universal-button" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
     </div>
  </div>
</div>
