<div class="mx-2"  style="margin-bottom: 100px">
  <div class="row">
    <%= render "shared/sidebar" %>
    <div class="col-10">
      <h1 style="padding-left: 20px;">All my bookings</h1>
    <%= render "shared/refugeecardgrid" %>
    </div>
  </div>
</div>
<%= button_to "Create Bookings", bookings_update_path, method: :patch %>
