<div class="container" style="margin-bottom: 100px">
<h1>Details for room tonight</h1>
<%= simple_form_for [@booking] do |f|%>
<%= f.input :arrival_date %>
<%= f.input :departure_date %>
<%= f.submit %>
<% end %>
</div>
