<div class="grid-cards mt-5">

  <% @rooms.each do |room| %>

    <div class="card-index-room">

      <div class="card-image">
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/13/d8/ea/1b/a-room-at-the-beach.jpg" alt="Image Room">
      </div>

      <div class="card-description">
        <li>Host first name: <%= room.host.first_name %></li>
        <li>Host last name: <%= room.host.last_name %></li>
        <li>Amount of beds: <%= room.beds %></li>
      </div>

      <div class="card-link">
        <%= link_to "Show this room", room_path(room) %>
      </div>

    </div>
     <% end %>
</div>
