<% flash.each do |key, value| %>
  <div class="alert alert-<%= key == "success" ? "success" : "danger"  %>" style="border-color: #00a2ff; background-color: #dcf1fd; color:#00a2ff;">
    <%= value %>
  </div>
<% end %>
