<div class="navbar navbar-expand-sm navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "OrangeLogoInvisible.png" %>
  <% end %>
  <% if user_signed_in? %>
    <div>

    </div>
    <div>
      <%= link_to user_path(current_user), class: "navbar-user-btn d-flex align-items-center" do %>
        <i class="fa-regular fa-user p-0"></i>
      <% end %>
    </div>
  <% end %>
</div>
