<div class="container-error" style="margin-bottom: 100px">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">
      <div class="errors">
        <h1>ERROR</h1>
        <p>We are really sorry but all our rooms are taken for tonight. HOST is doing its best to provide shelter for everyone but we depend on the number of volunteers.</p>
        <%= link_to "Back to your dashboard", bookings_path, class:"btn universal-button" %>
      </div>
    </div>
  </div>
</div>
