<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="btn-close m-3" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-body">
          <div class="row">
          <% room.room_pictures.each do |picture| %>
             <div class="col-10 picture-room" style="background-image: url(<%= cl_image_path picture.key %>) ">
              <%#= cl_image_tag @booking.room.room_pictures[0].key %>
             </div>
          <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
