<div class="rooms-index-row h-100 d-flex">
      <%= render "shared/interactive_sidebar" %>
      <div>
  <% if current_user %>
    <% if current_user.role == 'host' %>
        <h1 style="padding-left: 40px;">Your Rooms</h1>
          <%= render "shared/hostcardgrid" %>
    <% else %>
      <script type="text/javascript">
        window.location.href="/error_page"
      </script>
    <% end %>
  <% end %>
</div>
</div>
