
<div class="row rooms-index-row h-100">
  <% if current_user %>
    <% if current_user.role == 'host' %>
      <%= render "shared/sidebar" %>
      <div class="col-10">
        <h1 style="padding-left: 20px;">Your rooms</h1>
          <%= render "shared/hostcardgrid" %>
    <% else %>
      <script type="text/javascript">
        window.location.href="/error_page"
      </script>
    <% end %>
  <% end %>
  </div>
</div>
