
<div class="mx-2"  style="margin-bottom: 100px">
  <div class="row">
    <%= render "shared/sidebar" %>
    <div class="col-10">
      <h1 style="text-align: center">Your rooms</h1>
      <%= render "shared/cardgrid" %>
    </div>

  </div>

</div>
