.bookings-images-container {
  display: flex;
  display: inline-flex;
  flex-direction: row;
  border-radius: 6px;
  border: 1px solid $mainorange;
  height: 400px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.smaller-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
}

.biggest-image {
  border-radius: 6px 0 0 6px;
}

.top-left-image {
  padding-left: 4px;
}

.top-right-image {
  border-radius: 0 6px 0 0;
}

.bottom-left-image {
  padding-left: 4px;
}

.bottom-right-image {
  border-radius: 0 0 6px 0;
}


.gl-star-rating {
  justify-content: center;
}

.gl-star-rating--stars {
  &::after {
    display: none;
  }

  &::before {
    display: none;
  }
}

.booking-info {
  display: flex;
}

// .bookings-images-container-button {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-end;
// }

.modal-body {
  min-width: 100vh;
}

.modal-content {
  min-width: 100vh;
}

.modal-dialog {
  max-width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.picture-room {
  height: 370px;
  background-size: cover;
  background-position: center;
  width: 95%;
  margin-left: 20px;
  margin-bottom: 20px;
}

.rating-text p {
  text-align: center;
}
