.card-index-room {
  display: flex;
  flex-direction: column;
  width: 21rem;
  border-radius: 6px;
  border: 1px solid $mainorange;
  margin-top: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: none;
  grid-gap: 5px;

}

.card-index-room img {
  width: 20rem;
  height: 200px;
  border-radius: 6px;
  margin: 7px;
}

.card-description {
  list-style: none;
  margin: 10px;
}

.card-link {
  margin-left:208px;
  margin-bottom: 8px;
}

.grid-cards {
  display: grid;
  padding-left: 40px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.card-profile {
  display: flex;
  border-radius: 6px;
  border: 1px solid $mainorange;
  margin: 20px;
  max-width: 800px;
}

.user-profile-image {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 300px;
  img {
    border-radius: 50%;
  }
}

.edit-profile-btn {
  display: flex;
  align-items: left;
  justify-content: center;
}

.card-name-id-user-info {
  display: flex;
  justify-content: left;
  margin-bottom: 5px;
}

.card-bio-id-user-info{
  display: flex;
  justify-content: left;
  text-align: justify;
}

.rooms-index-row {
  h1 {
    color: #FF5D00;
  }
}

.booking-show-title{
  padding-left: 20px;
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
