.bubble-chat{
  margin-left: 1200px;
  margin-bottom: 15px;
}

.dot {
  margin-left: 1250px;
  margin-bottom: 15px;
  height: 80px;
  width: 80px;
  background-color: $mainorange;
  border-radius: 50%;
  display: inline-block;
  color: white;
}

#chat{
  color: white;
  margin-top: 27px;
  margin-left: 17px;

}
