.messages {
  //max-width: 1000px;
}

.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

.sender-style, .receiver-style {
  width:70%;
  max-width:400px;
  border-radius: 4px;
  padding:8px;
  min-height:80px;
  font-size: 18px;
  color: white;
  p {
  color: white !important;
  }
}

.sender-style {
  background-color: $mainorange;
}

.receiver-style {
  background-color: $lightorange;
}


.chat-w {
  min-width: 95vh;
}

.messages-button {
  background-color: white !important;
  border: none;
  height: 39px;
}

#message_content {
  border-color: #FF5D00;
}
