.fa-magnifying-glass {
  padding-right: 24px;
  color: #FF5D00 !important;
  font-size: 26px;
}

.fa-user {
  padding-right: 4px;
  font-size: 23px;
  color: #FF5D00;
}

.fa-calendar {
  margin: 0;
  padding-bottom: 7px !important;
  color: #FF5D00;
  font-size: 26px;
}

.fa-person-shelter {
  color: #FF5D00;
  font-size: 20px;
}


.fa-bed {
  color: $mainorange;
}

.fa-location-dot {
  color: $mainorange;
}


.icon-bed {
  display: flex;
  align-items: center;
  font-size: 20px;
  p {
    margin: 0;
  }
}

.icon-user {
  display: flex;
  align-items: center;
  font-size: 20px;
  p {
    margin: 0;
  }
}

.icon-location {
  display: flex;
  align-items: center;
  font-size: 20px;
  p {
    margin: 0;
  }
}

.icon-calendar {
  display: flex;
  align-items: center;
  font-size: 20px;
  p {
    margin: 0;
  }
}
