.fa-magnifying-glass {
  padding-right: 24px
}

.fa-bars {
  padding-left: 4px;
}

.fa-user {
  padding-right: 4px;
}

.fa-calendar {
  margin: 0;
  padding-bottom: 7px !important;
}

.fa-person-shelter {
  color: #FF5D00;
}
