.footer {
  background: white;
  padding: 0px 50px 40px 50px;
  color: #FF5D00;
  bottom: 0;
  width: 100%;
}

.footer-copyright {
  margin: 0px;
}

.border-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #FF5D00;
}

.page-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  }
