.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    position: center;
    margin-bottom: 20px;
    width: 100%;
    white-space: nowrap;
  }
}

.form-profile {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    position: center;
    margin-bottom: 20px;
    width: 100%;
  }
}

.form-booking {
  background: white;
}

.form-rating {
  background: white;
  text-align: -webkit-center;
  align-items: center;
  justify-content: center;
  padding-top: 140px;
  padding-right: 20px;
}
