.chat-main-menu{
    background-color: $mainorange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none !important;
    display: inline-flex;
    white-space: nowrap;
    font-size: 12px;
    right: 50px;
    height: 40px;
    overflow: hidden;
    width: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    bottom: 0px;
    text-align:center;
    font-size: 18px;
    justify-content: center;
    padding: 10px;
    z-index:1000;
    p{
      text-align: justify;
    }
}

.chat-main-menu:hover{
  background-color: $lightorange;
  color: black;
  height: 400px;

  h5{
    color: $mainorange;
  }
}

.chatbar-logosymbol {
  width: 20px;
  height: 20px;
}
