.chat-main-menu{
    background-color: $mainorange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none !important;
    display: inline-block;
    font-size: 16px;
    position:relative;
    // margin-top:90%;
    margin-left: 90%;
    height: 50px;
    overflow: hidden;
    width: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    h5{
      text-align:center;
    }
    p{
      text-align: justify;
    }
}

.chat-main-menu:hover{
  background-color: $lightorange;
  color: black;
  height: 400px;

  h5{
    color: $mainorange;
  }
}
