.navbar-lewagon {
  justify-content: space-between;
  background: white;
  flex-wrap: nowrap;
  display: flex;
  position: relative;
  padding-bottom: 70px !important;
  img {
    vertical-align: middle;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar > .container-fluid {
  width: 100%;
  padding: 46px;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  border-radius: 30px;
  background-color: white;
  color: #FF5D00;
  margin-top: 0em;
}

#navbarSupportedContent {
  border-style: solid;
  border-color: #FF5D00;
  border-radius: 30px;
  border-width: 1px;
  background-color: white;
  color: #FF5D00;
  justify-content: space-evenly;
  padding: 3px;
}

.navbar-location {
  padding-left: 12px;
}

.btn-navbar {
  width: 30px;
  margin: 0;
  padding-right: 35px;
}

#login-button {
  padding: 10px;
}

.fa-magnifying-glass {
  padding-right: 24px
}

.fa-bars {
  padding-left: 4px;
}

.fa-user {
  padding-right: 4px;
}

.fa-calendar {
  margin: 0;
  padding-bottom: 7px !important;
}

.nav-dates {
  display: flex;
  align-items: revert;
  padding: 10px;
}
