.rooms-images-container {
  display: flex;
  display: inline-flex;
  flex-direction: row;
  border-radius: 6px;
  border: 1px solid $mainorange;
  height: 400px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.myroom_container {
  height: 100%;
}

.show-room {
  border: 12px solid white;
  border-radius: 5px;
}

.rooms-btns {
  justify-content: flex-end;
}

.hr-line-bookings {
    margin: 10px;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: 0.25;
    margin-left: 41px;
    margin-right: 3px;
    margin-bottom: 50px;
}
