.side-bar {
  background: $lightorange;
  height: 100%;
  border-top-right-radius: 5px;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.side-bar a {
  text-decoration: none;
  background-color: $white;
  display: block;
  margin: 20px;
  border-radius: 6px;
  padding: 12px;
  white-space: nowrap;
}

.side-bar a:hover {
  border-style: solid;
  border-color: #FF5D00;
  border-radius: 5px;
  border-width: 1px;
  background-color: white;
}

.sidebar-logosymbol {
  max-height: 15px;
  max-width: 15px;
  display: inline-flex;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
